@keyframes slide-nav-down {
	100% {
		transform: translateY(0);
	}
}
@-webkit-keyframes slideRight {
	100% {
		right: 0;
	}
}

@keyframes slideRight {
	100% {
		right: 0;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

html,
body {
	font-family: "Nunito" !important;
	font-weight: 400;
	height: 100%;
	width: 100%;
}

::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

::-webkit-scrollbar-track {
	background-color: #f3f4f6;
}

::-webkit-scrollbar-thumb {
	background-color: #d1d5db;
	border-radius: 0.25rem;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}
/* ::-webkit-scrollbar {
	width: 0px;
	background: transparent;
} */
.text-shadow {
	text-shadow: 1px 1px 2px rgba(31, 41, 55, 1);
}
form label {
	font-family: "Nunito" !important;
	font-weight: 600;
}

/* HEADER  */

#header-nav {
	transition: 0.3s ease-in-out;
}
#header-overlay {
	margin-top: -100px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

#sub-nav {
	height: 0%;
	transition: 0.5s;
}
#sub-nav .image-subnav {
	height: 15rem;
	width: 15rem;
}
.title-text {
	font-family: "DM Serif Text", serif;
}

#frontend-header.is-floating {
	position: sticky;
	top: 0;
	transform: translateY(-100%);
	animation: slide-nav-down 0.3s ease;
	animation-fill-mode: forwards;
}

.success-banner {
	height: 20rem;
	background: url(../../image/success_bg.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.footer-bg {
	background: url(../../image/footer_bg.svg) no-repeat top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #1f2937;
}

.page-title {
	font-family: "DM Serif Text", serif;
}

/* SEARCHING */
#mainSearch {
	transition: 0.3s ease-in-out;
}
/* Homepage Content */
.cat-img-1 {
	height: 20rem;
	background: url(../../../uploads/category_image/category_image_1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.cat-img-2 {
	height: 20rem;
	background: url(../../../uploads/category_image/category_image_2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.cat-img-3 {
	height: 20rem;
	background: url(../../../uploads/category_image/category_image_3.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ABOUT US */
.about-1-banner {
	background: url(../../image/about1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.list-cart {
	max-height: 400px !important;
}

.store-pagination a {
	padding: 10px;
	text-transform: uppercase;
	font-family: "Nunito" !important;
	color: #9ca3af;
}

#loading {
	background: url(../../image/loading2.gif) no-repeat center;
}

.spin {
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.load-icon {
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* SLIDER PRICE RANGE */

#price_range .ui-state-default {
	outline: 0;
	background: rgba(31, 41, 55);
	border-radius: 50%;
	border: 1px solid rgba(31, 41, 55);
	top: 0em;
	width: 0.8rem;
	height: 0.8rem;
}

#price_range.ui-slider-horizontal {
	top: 1em;
	left: 5%;
	height: 0.8rem;
	width: 90%;
	border: none;
	background: #ccc;
}

#map {
	height: 400px;
	width: 100%;
}

.filter_data {
	max-height: 700px;
	overflow-y: scroll;
}

.loading_store {
	max-height: 400px;
	height: 400px;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

/* STORE */
.store-banner {
	background: url(../../image/store.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* HOW TO BUY PAGES */
.howtobuy-1{
	background: url(../../../uploads/howtobuy/1_select_items.svg) no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}