/*Form fields*/
.dataTables_wrapper .dataTables_filter {
	padding-left: 1rem; /*pl-4*/
	padding-right: 1rem; /*pl-4*/
	color: #6b7280 !important;
	font-size: 0.75rem;
	line-height: 1rem;
}

.dataTables_wrapper .dataTables_length {
	padding-left: 1rem; /*pl-4*/
	padding-right: 1rem; /*pl-4*/
	color: #6b7280 !important;
	font-size: 0.75rem;
	line-height: 1rem;
}

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
	color: #4a5568; /*text-gray-700*/
	border-radius: 0.25rem;
	margin: 1rem;
	outline: none;
}

.dataTables_wrapper .dataTables_info {
	padding-left: 1rem; /*pl-4*/
	padding-right: 1rem; /*pl-4*/
	color: #6b7280 !important;
	font-size: 0.75rem;
	line-height: 1rem;
}
/*Row Hover*/
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
}
.dataTables_wrapper .dataTables_paginate {
	padding-left: 1rem; /*pl-4*/
	padding-right: 1rem; /*pl-4*/
}
/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
	font-weight: 700; /*font-bold*/
	border-radius: 0.25rem; /*rounded*/
	border: 1px solid transparent; /*border border-transparent*/
	margin-bottom: 1rem;
	font-size: 0.8rem !important;
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	color: #e5e7eb !important;
	font-weight: 700;
	border-radius: 0.25rem;
	background: #1f2937 !important;
	border: 1px solid transparent;
	cursor: context-menu;
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #1f2937; /*bg-indigo-500*/
	border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
	background: #1f2937; /*bg-indigo-500*/
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #1f2937 !important;
	color: #e5e7eb !important;
	border: 1px solid transparent;
}

/*Add padding to bottom border */
table.dataTable.no-footer {
	border-bottom: 1px solid #e2e8f0; /*border-b-1 border-gray-300*/
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
	background-color: rgb(16, 185, 155) !important;
}
